body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#header {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#header__logo {
    width: 100px;
    height: 100px;
}

#header__item--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__left--list {
    margin: 0 10px;
}

.item__left--button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#header__search--bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

#search__text {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#search__button {
    width: 30px;
    height: 30px;
    background-color: white;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#header__light-dark-mode--switch {
    background-color: white;
    border: none;
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    background-image: url('switchmode.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#header__item--right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__right--function {
    margin: 0 10px;
}

#header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius:  15px;
}

#user__signup {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

#user__login {
    background-color: #24ff2c;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
#header__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
}

.item__bottom--scroll-button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.item__bottom--link {
    margin: 0 10px;
    color: white;
}

#learn-to-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282A35;
}

#learn-to-code__h1 {
    font-size: 50px;
    color: white;
}

#learn-to-code__h3 {
    font-size: 30px;
    color: #FFF4A2;
}

#learn-to-code__search--bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search__bar--text {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 5px;
}

#search__bar--button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    height: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

#learn-to-code__link {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

#html {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d9eee1;
}

#html__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 30px;
}

#html__left--h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#html__left--text {
    font-size: 20px;
}

#html__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.example {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    padding: 30px;
    background-color: #e7e9eb;
}

.example__h3 {
    font-size: 30px;
}

.example__code {
    font-size: 20px;
    background-color: white;
}

.example__button {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 15px;
    height: 40px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#content__button--green-card {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

#content__button--yellow-card {
    background-color: #f4d03f;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

#content__button--black-card {
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

#content__button--pink-card {
    background-color: #f1948a;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

#content__button--gray-card {
    background-color: #85929e;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

#css {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff4a3;
}

#css__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 30px;
}

#css__left--h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#css__left--text {
    font-size: 20px;
}

#javascript {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #282a35;
}

#javascript__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 30px;
}

#javascript__left--h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#javascript__left--text {
    font-size: 20px;
}

#python {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3ecea;
}

#python__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 30px;
}

#python__left--h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#python__left--text {
    font-size: 20px;
}

#sql {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #96d4d4;
}

#sql__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 30px;
}

#sql__left--h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#sql__left--text {
    font-size: 20px;
}

#div__learn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
    background-color: #282a35;
}

.learn__h1 {
    font-size: 40px;
}

.learn__h3 {
    font-size: 15px;
    color: gray;
}

.learn__button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

#learn__php {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(50% - 5px);
    background-color: #ffc0c7;
}

#learn__jQuery {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(50% - 5px);
    background-color: #fff4a3;
}

#learn__java {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(50% - 5px);
    background-color: #f3ecea;
}

#learn__cpp {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(50% - 5px);
    background-color: #d9eee1;
}

#learn__w3css {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(50% - 5px);
    background-color: #96d4d4;
}

#learn__bootstrap {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(50% - 5px);
    background-color: #e7e9eb;
}

#tutorial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #282a35;
    gap: 5px;
}

#tutorial__big-card{
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    height: 150px;
    width: calc(50% - 5px);
}

#tutorial__small-card{
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(25% - 5px);
}

#tutorial__long-card {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(50% - 5px);
}

.tutorial__pink {
    background-color: #eab1b8;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.tutorial__yellow {
    background-color: #eae098;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.tutorial__gray {
    background-color: #dfd9d8;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.tutorial__cyan {
    background-color: #c8dbd0;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.tutorial__turtoise {
    background-color: #8bc3c4;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.tutorial__red {
    background-color: #eab1b8;
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#code-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #282a35;
    height: 100vh;
}

#code-editor__h1 {
    font-size: 50px;
    color: white;
}

#code-editor__text {
    font-size: 20px;
    color: white;
}

#code-editor__container-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 20vh;
    width: 50%;
}

#container-button__frontend-link--button {
    background-color: #04aa6d;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#container-button__backend-link--button {
    background-color: #fff4a3;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#w3Schools-Spaces {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #282a35;
}

#w3Schools-Spaces__h1 {
    font-size: 50px;
    color: white;
}

#w3Schools-Spaces__text {
    font-size: 20px;
    color: white;
}

#w3Schools-Spaces__image {
    width: 300px;
    height: 300px;
}

#w3Schools-Spaces__button {
    background-color: #05a86c;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    width: 300px;
    cursor: pointer;
}

#my-learning {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #d9eee1;
}

#my-learning__h1 {
    font-size: 50px;
}

#my-learning__text {
    font-size: 20px;
}

#my-learning__image {
    width: 300px;
    height: 300px;
}

#my-learning__button {
    background-color: #05a86c;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    width: 300px;
    cursor: pointer;
}

#become-a-plus-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #282a35;
}

#become-a-plus-user__h1 {
    font-size: 50px;
    color: white;
}

#become-a-plus-user__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
}

#content__h2 {
    font-size: 25px;
    color: #fec0c7;
}

.content__list {
    font-size: 20px;
    color: white;
}

.content__list::before {
    content: "✔";
    color: #04aa6d;
    margin-right: 10px;
}

#become-a-plus-user__button {
    background-color: #04aa6d;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    width: 300px;
    cursor: pointer;
}

#color-picker {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    background-color: #f3ecea;
}

#color-picker__h1 {
    font-size: 50px;
}

#color-picker__text {
    font-size: 20px;
}

#color-picker__image {
    width: 100px;
    height: 100px;
}

#code-game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    background-color: #96d4d4;
}

#code-game__h1 {
    font-size: 50px;
}

#code-game__text {
    font-size: 20px;
}

#code-game__image {
    width: 100px;
    height: 100px;
}

#code-game__button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}